body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between; /* logo left, links right */
  align-items: center;
  padding: 30px 2px;
  position: fixed;   /* stick at top */
  top: 0;
  left: 0;
  width: 95%;
  z-index: 1000;
  background: transparent; /* or add a color if you want */
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: auto; 
}

.nav-links a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;

}
.hambutger{
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  order: -1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.hero-content h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 300;
}

.btn {
  padding: 12px 30px;
  border: 1px solid white;
  background: transparent;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 800px;
  
}

.btn:hover {
  background: white;
  color: black;
}

.work-section {
  position: relative;
  padding: 100px 60px;
  text-align: center;
}

.bg-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;         /* Thin font */
  font-size: 120px;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  white-space: nowrap;
}

.work-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  margin-top: 120px; /* Push down below "MY WORK" */
}

.work-card {
  max-width: 280px;
  text-align: center;
}

.work-card img {
  width: 70%;
  border: 3px solid #fff;
  margin-bottom: 20px;
}
.work-card3 img{
  height: 30%;
  width: 50%;
}

.work-card h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.work-card p {
  font-size: 14px;
  font-weight: 300;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 20px;
}

.amazon-btn {
  display: inline-block;
  background: #ffcc00;
  color: #000;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.amazon-btn span {
  font-weight: 700;
}

.amazon-btn:hover {
  background: #e6b800;
}
